.md-header__title {
    display: none;
}

/* Optional: Target table headers separately */
.md-typeset th {
  font-size: 1.0rem;
}

/* Optional: Target table data rows separately */
.md-typeset td {
  font-size: 0.9rem;
}
